<span class="card-title">Reenviar Confirmacion</span>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field col s12">
    <i class="material-icons prefix">account_circle</i>
    <%= f.label :email , :data => {error: 'wrong', succcess:'right'}%>
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Send me instructions", class:'hide' %>
  </div>

  <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Enviar" id="submit-button">
    <i class="material-icons">navigate_next</i>
  </a>
<% end %>


