<% if @show_warning %>
  <%= form.hidden_field :wait_line, :value => @show_warning %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel red lighten-2">
            <span class="white-text">
              Por el momento hemos cubierto nuestro cupo de reservas.
              Al momento de aceptar su reserva automaticamente quedara en una lista de prioridad y en caso de que
              liberarse algun puesto nos comunicaremos con ud.
            </span>
      </div>
    </div>
  </div>
<% end %>

<div class="card-image">
  <img src="<%= asset_path ('map.jpg')%>">
</div>
<div class="card-content">

  <p>
    <a href="<%= asset_path('stands.pdf') %>" download>
      <i class="material-icons" style="top: 5px; position: relative;">file_download</i> Descargar Terminos y Condiciones
    </a>
  </p>
  <br>
  <p>
    <a href="<%= asset_path('stands.pdf')%>" target="_blank">
      <i class="material-icons" style="top: 5px; position: relative;">chrome_reader_mode</i> Leer Online Terminos y Condiciones
    </a>
  </p>
  <br>

  <div class="row">
    <div class="col s12">
      <div class="card-panel red lighten-2">
          <span class="white-text">
            Aclaracion: esto una solicitud de stand para el evento, la eleccion del lugar y el pago se realizara una
            vez finalizada la convocatoria.
          </span>
      </div>
    </div>
  </div>

  <p>
    <%= form.check_box :agreement , :required => true , id:'reserve_agreement'%>
    <%= form.label :agreement, 'He leido y acepto estos terminos y condiciones' %>
  </p>
</div>




