<div class="col s12 l6">
  <div class="card hoverable">
    <div class="card-action ">
      <span class="card-title">Reserva #<%= reserve.id %></span>
      <p><i class="material-icons" style="position: relative; top: 5px;">date_range</i>
        <%= reserve.event.name %> - <%= reserve.event.release_date %>
      </p>

      <% unless reserve.payment_confirmation.nil? %>
        <p>Nro de Stand: <%= reserve.stand.name %></p>
        <p>Valor: <%= reserve.payment.amount %></p>
        <p>Estado: <%= reserve.payment.status %></p>
        <% unless reserve.payment.nil? || reserve.payment.payment_date.nil? %>
          <p>Su Pago ha sido acreditado. Gracias por su reserva, lo esperamos el dia del evento.</p>
        <% end %>
        <% unless show_payment_button%>
          <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1 left" data-position="bottom" data-delay="50" data-tooltip="Pagar/Ver Estado" href="<%= '/payment_status/'+reserve.id.to_s %>">
            <i class="material-icons">attach_money</i>
          </a>
        <% end %>
      <% end %>
      <% unless reserve.mail_sent.nil? || !reserve.payment_confirmation.nil? %>
        <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1 left" data-position="bottom" data-delay="50" data-tooltip="Elegir Lugar" href="<%= reserf_path(reserve) %>">
          <i class="material-icons">event_seat</i>
        </a>
      <% end %>
      <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1"
         data-confirm="Si ud. elimina esta reserva, su lugar en la cola de prioridad quedara anulado, y en caso de haber realizado el pago el reembolso sera evaluado dependiendo de la fecha de cancelacion. Esta seguro de eliminar esta reserva?" rel="nofollow" data-method="delete" data-position="bottom" data-delay="50"
         data-tooltip="Eliminar" href="<%= reserf_path(reserve) %>">
        <i class="material-icons">delete</i>
      </a>

      <a href="<%= asset_path('stands.pdf') %>" class="black-text" download>
        <i class="material-icons" style="top: 5px; position: relative;">file_download</i> Descargar Terminos y Condiciones
      </a>
      <br><br>
      <a href="<%= asset_path('map.jpg') %>" class="black-text" download>
        <i class="material-icons" style="top: 5px; position: relative;">file_download</i> Descargar Mapa
      </a>
      <br><br>

    </div>
  </div>
</div>