<%=flash[:notice] = nil %>
<h3>Reservas realizadas</h3>
<div class="row">
  <div class="col s12">
    <table class="highlight">
      <thead>
      <tr>
        <th>ID Reserva</th>
        <th>Email</th>
        <th>Nombre</th>
        <th>Stand</th>
        <th>Lugar</th>
        <th>Tipo Pago</th>
        <th>Estado Pago</th>
        <th>Orden de Espera</th>
        <th>Acepto?</th>
        <th class="center">Enviar mail de selecion</th>
        <th class="center">Tiempo</th>
        <th class="center">Confirmar Pago</th>
        <th class="center">Tiempo</th>
        <th class="center">Recordatorio</th>
        <th class="center">Expirar</th>
        <th class="center">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <% @reserves.each do |reserve| %>
      <tr>
        <td><%= reserve.id %></td>
        <td><%= reserve.user.email %></td>
        <td><a href="<%= users_path(reserve.user)%>"><%= reserve.user.personal_information.nil? ? '-' : reserve.user.personal_information.name %></a></td>
        <td><% if !reserve.merchant.nil? %>
              <a href="<%= merchant_path(reserve.merchant)%>"> <%= reserve.merchant.store_name %></a>
            <% else %>
            -
            <% end %>
        </td>
        <td><%= reserve.stand.nil? ? '-' : reserve.stand.name %></td>
        <td><% if reserve.payment.nil? %>
            -
            <% elsif reserve.payment.payment_type == 0 %>
            Bancario
            <% else%>
            MercadoPago
            <% end %>
            </td>
        <td><%= reserve.payment.nil? ?  '-': reserve.payment.status %></td>
        <td><%= reserve.wait_number %></td>
        <td><%= reserve.agreement %></td>
        <td class="center"><a href="#" class='send-email <%=reserve.mail_sent.nil? ? "blue-text" : "red-text"%>' data-reserve="<%= reserve.id %>"><i class="material-icons">email</i></a></td>
        <td class="center">
          <% unless reserve.mail_sent.nil?
                 time = time_left reserve.mail_sent, Time.now.utc %>
            <%= time[:hours].to_s + ':'+ time[:minutes].to_s unless time[:ended]%>
          <% end %>
        </td>
        <td class="center"><a class="<%=(!reserve.payment.nil? && reserve.payment.payment_date.nil?) || reserve.payment.nil? ? "blue-text" : "red-text"%>" href="<%= '/payment_confirmation/'+ reserve.id.to_s%>"><i class="material-icons">payment</i></a></td>
        <td class="center">
          <% unless reserve.payment_confirmation.nil?
               time2 = time_left reserve.payment_confirmation, Time.now.utc
          %>
            <%= time2[:days].to_s + 'd' + time2[:hours].to_s + ':'+ time2[:minutes].to_s unless time2[:ended]%>
          <% end %>
        </td>

        <td class="center">
          <a class="blue-text" href="/reserves/about_to_expire/<%=reserve.id.to_s%>">
            <i class="material-icons">email</i>
          </a>
        </td>

        <td class="center">
          <a class="blue-text" href="/reserves/expire/<%=reserve.id.to_s%>">
            <i class="material-icons">alarm_off</i>
          </a>
        </td>

        <td class="center">
          <a class="blue-text"
             data-confirm="Si ud. elimina esta reserva, su lugar en la cola de prioridad quedara anulado, y en caso de haber realizado el pago el reembolso sera evaluado dependiendo de la fecha de cancelacion. Esta seguro de eliminar esta reserva?" rel="nofollow" data-method="delete" data-position="bottom" data-delay="50"
             data-tooltip="Eliminar" href="<%= reserf_path(reserve) %>">
            <i class="material-icons">delete</i>
          </a>
        </td>

        <%= content_tag :div, class: "hide reserve", id: 'reserve_'.concat(reserve.id.to_s), data: {reserve: reserve} do %>
        <% end %>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% if @reserves.length == 0 %>
    <div class="col s12">
      <div class="card-panel light-blue lighten-4">
        <span class="card-title">Todavia no hay reservas para este evento.</span>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
    function send_email() {
        let $self = $(this);
        $.ajax({
            type: "POST",
            url: "/payment_email",
            data: {
                reserve:  $('#reserve_'+$self.data('reserve')).data('reserve')
            },
            success: function(msg){
                if (msg.status == 'mail_sent') {
                    $self.addClass('red-text');
                    $self.removeClass('blue-text');
                } else if (msg.status == 'cancelled') {
                    $self.addClass('blue-text');
                    $self.removeClass('red-text');
                }
            }
        })
    }
    $(document).ready(function () {
        $('.send-email').on('click',send_email);

    });
</script>