<h3 class="hide-on-med-and-up	center">Mis Reservas</h3></span>
<div class="row">
  <% @reserves.each do |reserve| %>
   <%= render :partial => 'reserve_card', locals: {reserve: reserve, show_payment_button: !reserve.payment.nil? && !reserve.payment.payment_date.nil?} %>
  <% end %>

  <% if @reserves.length == 0 %>
    <div class="col s12">
      <div class="card-panel light-blue lighten-4">
        <span class="card-title">Todavia no has solicitado una reserva en ningun evento.</span>
      </div>
    </div>
  <% end %>
</div>