<div class="row">
  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Reserva #<%= @reserve.id %></span>
        <p><%= @reserve.event.name %></p>
        <p>
          <i class="material-icons" style="position: relative; top: 5px;">date_range</i>
          <%= @reserve.event.release_date %>
        </p>
      </div>
    </div>
  </div>
  <% unless @reserve.mail_sent.nil? %>
    <%= form_tag('/reserves/payment', method: 'post', local: true) do |form| %>
      <%= submit_tag 'submit', class: 'hide' %>
      <input type="hidden" name="id" value="<%= @reserve.id %>">
      <div class="col s12 l6">
      <div class="card">
        <div class="card-action select-price">
          Seleccione el area donde desea reservar su stand:
          <p>
            <input type="radio" name="stand_area" value="650" id="scenario" required data-show="scenario" data-hide="alley" checked>
            <label for="scenario">Zona Escenario - $650</label>
          </p>
          <p>
            <input type="radio" name="stand_area" value="450" id="alley" required data-show="alley" data-hide="scenario">
            <label for="alley">Zona Salas Tematicas - $450</label>
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 l6">
      <div class="card">
        <div class="card-content map">
          <span class="card-title">Mapa del Evento</span>
          <div class="scenario" style="position: relative;">
            <img class="responsive-img"  src="<%= asset_path('scenario.jpg')%>" alt="" id="scenario_img">
            <input type="radio" name="stand" value="P1"  id="scenario1"  required data-img="scenario_img" data-xmin="283" data-xmax="363" data-ymin="403" data-ymax="728">
            <input type="radio" name="stand" value="P2"  id="scenario2"  required data-img="scenario_img" data-xmin="283" data-xmax="363" data-ymin="477" data-ymax="728">
            <input type="radio" name="stand" value="P3"  id="scenario3"  required data-img="scenario_img" data-xmin="283" data-xmax="363" data-ymin="550" data-ymax="728">
            <input type="radio" name="stand" value="P4"  id="scenario4"  required data-img="scenario_img" data-xmin="283" data-xmax="363" data-ymin="623" data-ymax="728">
            <input type="radio" name="stand" value="P5"  id="scenario5"  required data-img="scenario_img" data-xmin="215" data-xmax="363" data-ymin="648" data-ymax="728">
            <input type="radio" name="stand" value="P6"  id="scenario6"  required data-img="scenario_img" data-xmin="135" data-xmax="363" data-ymin="648" data-ymax="728">
            <input type="radio" name="stand" value="P7"  id="scenario7"  required data-img="scenario_img" data-xmin="55" data-xmax="363" data-ymin="648" data-ymax="728">
            <input type="radio" name="stand" value="P8"  id="scenario8"  required data-img="scenario_img" data-xmin="51" data-xmax="363" data-ymin="605" data-ymax="728">
            <input type="radio" name="stand" value="P9"  id="scenario9"  required data-img="scenario_img" data-xmin="51" data-xmax="363" data-ymin="538" data-ymax="728">
            <input type="radio" name="stand" value="P10" id="scenario10" required data-img="scenario_img" data-xmin="51" data-xmax="363" data-ymin="466" data-ymax="728">
            <input type="radio" name="stand" value="P11" id="scenario11" required data-img="scenario_img" data-xmin="51" data-xmax="363" data-ymin="394" data-ymax="728">
            <input type="radio" name="stand" value="P12" id="scenario12" required data-img="scenario_img" data-xmin="51" data-xmax="363" data-ymin="315" data-ymax="728">
          </div>
          <div class="alley" style="position: relative;">
            <img class="responsive-img" src="<%= asset_path('alley.jpg')%>" alt="" id="alley_img">
            <input type="radio" name="stand" value="N1"  id="alley1" required data-img="alley_img" data-xmin="110" data-xmax="258" data-ymin="325" data-ymax="728">
            <input type="radio" name="stand" value="N2"  id="alley2" required data-img="alley_img" data-xmin="110" data-xmax="258" data-ymin="399" data-ymax="728">
            <input type="radio" name="stand" value="N3"  id="alley3" required data-img="alley_img" data-xmin="110" data-xmax="258" data-ymin="473" data-ymax="728">
            <input type="radio" name="stand" value="N4"  id="alley4" required data-img="alley_img" data-xmin="110" data-xmax="258" data-ymin="541" data-ymax="728">
            <input type="radio" name="stand" value="N5"  id="alley5" required data-img="alley_img" data-xmin="110" data-xmax="258" data-ymin="617" data-ymax="728">
            <input type="radio" name="stand" value="N6"  id="alley6" required data-img="alley_img" data-xmin="110" data-xmax="258" data-ymin="686" data-ymax="728">
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Datos del Stand Seleccionado</span>
          <p>Stand Nº: <span id="stand_id"></span></p>
          <p>Status: <span id="stand_status"></span></p>
          <p>Sector: <span id="stand_sector"></span></p>
          <p>Tienda: <span id="stand_merchant"></span></p>
          <p>Web: <span id="stand_merchant_web"></span></p>
        </div>
      </div>
    </div>
    <div class="col s12 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Seleccione el Metodo de Pago</span>
            <p>
              <input type="radio" name="payment_type" value="0" id="bank" required checked>
              <label for="bank">Deposito Bancario</label>
            </p>
            <p>
              <input type="radio" name="payment_type" value="1" id="mercadopago" required>
              <label for="mercadopago">Mercado Pago</label>
            </p>
            <a id="submit-button" href="#" class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Guardar Cambios">
              <i class="material-icons">save</i>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'hide stands', data: {stands: @stands} do %>
  <% end %>
  <%= content_tag :div, class: 'hide reserves', data: {reserves: @reserves} do %>
  <% end %>
</div>

<style>
  .select-price {
    height: 166px;
  }

  .map label {
    position: absolute !important;
    opacity: 0 !important;
  }
  .map input {
    opacity: 1!important;
    pointer-events: all!important;
  }
  .alley {
    display:none;
  }
  .scenario{
  }
</style>

<script type="text/javascript" charset="utf-8">
  function adjust_checkbox($input,height,width, xmin,xmax,ymin,ymax) {
      $input.css('top',height*xmin/xmax);
      $input.css('left',width*ymin/ymax);
      $input.css('width', (height*2/xmax)+'em');
      $input.css('height',(width*2/ymax)+'em');
  }


  function adjust() {
      $('input[name="stand"]').each(function (i, e) {
          let $img = $('#'+$(e).data('img'))[0];
          adjust_checkbox($(e),$img.height,$img.width,$(e).data('xmin'),$(e).data('xmax'),$(e).data('ymin'),$(e).data('ymax'));
      });
  }

  function disabled_stands() {
      let reserved = $(".reserves").data('reserves');
      let stands = $(".stands").data('stands');
      console.log(reserved, stands)
      $.each(reserved, function (i,e) {
          if (e['stand_id']) {
              let stand = jQuery.grep(stands, function(obj) {
                  console.log(obj.id,e['stand_id']);
                  return obj.id === e['stand_id'];
              });
              $('input[value="'+stand[0].name+'"]').attr('disabled','disabled');
          }
      })
  }

  $(document).ready(function() {
      $('img').click(function(e) {
          let offset = $(this).offset();
          console.log('x',e.pageX - offset.left);
          console.log(this.width*470/728);
          console.log('y',e.pageY - offset.top);
          console.log(this.height*80/258);
      });

      disabled_stands();

      //$('.testo').on('click', ajust)
      $( window ).resize(adjust);
      adjust();

      $('input[name="stand_area"]').click(function(){
          $('.'+$(this).data('show')).show();
          $('.'+$(this).data('hide')).hide();
          adjust()
      });

      $('input[name="stand"]').click(function () {
          let $this = $(this)
          if ($this.attr('disabled')){
              $this.click(alert('e amigo'))
          }
      })
  });
</script>