<a href="#" id="upload_widget_opener">Subir comprobante</a>

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
  document.getElementById("upload_widget_opener").addEventListener("click", function() {
    cloudinary.openUploadWidget({ cloud_name: 'dktk7tmxj', upload_preset: 'nosunhb9', sources: ['local', 'url', 'camera'], default_source: 'local', multiple: false, resource_type: 'image', folder: 'invoices'}, 
      function(error, result) { console.log(error, result) });
  }, false);
</script>

<br>
<br>
<br>
<br>
<a href="https://api.cloudinary.com/v1_1/dktk7tmxj/resources/image/upload/?prefix=invoices" >GET lista de comprobantes</a>

<br>
<br>
<br>
<br>
API Key(USER):	
257935353423127
API Secret(PASS):	
RPHyzx7EMXDmMxc3ZNQ9sO4PVp8
