<span class="card-title">Registrarse</span>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field col s12">
    <i class="material-icons prefix">account_circle</i>
    <%= f.label :email, :data => {error: 'wrong', succcess:'right'} %>
    <%= f.email_field :email, autofocus: true, required: true, class:'validate' %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix ">security</i>
    <%= f.label :password, :data => {error: 'wrong', succcess:'right'}%>
    <% if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: "off", required: true, class:'validate', placeholder: '('+@minimum_password_length.to_s+' characters minimum)'%>
    <% else %>
      <%= f.password_field :password, autocomplete: "off", required: true, class:'validate'%>
    <% end %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix ">security</i>
    <%= f.label :password_confirmation, :data => {error: 'wrong', succcess:'right'}%>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:'hide'%>
  </div>

  <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Registrarse" id="submit-button">
    <i class="material-icons">navigate_next</i>
  </a>
<% end %>
