<table>
  <tr>
    <td align="center">
      <img src="https://drive.google.com/uc?export=view&id=1PBjexbMVdbHI4V5UBIWgBvsx6rgWFmml"
           alt="Header" class="imgHeader" style="width: 400px;">
    </td>
  </tr>
  <tr>
    <td>
      <p>Gracias por haber solitado un stand para <%= @event %></p>
      <p>Si desea revisar su reserva, haga click <a href="<%= @request.protocol %><%= @request.host %>/reserves/<%= @reserve %>">aqui</a>.</p>
      <p>Una vez terminada la convocatoria, comenzaremos con el proceso de seleccion de lugar y pago del mismo.
        La misma sera comunicada por este medio y tambien por el evento de facebook.</p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <hr>
      <span>© 2018 by Pandora Eventos</span>
      <ul aria-label="Social bar" class="socialBar" style="padding: 0;">
        <li style="width: 48px;
            height: 48px;
            margin-bottom: 0px;
            margin-right: 10px;
            display: inline-block;">
          <a href="https://www.facebook.com/PandorasBoxEventos/" target="_blank" data-content="https://www.facebook.com/PandorasBoxEventos/"
             data-type="external">
            <div data-style="position:relative">
              <img alt="Facebook - Black Circle" data-type="image" src="https://drive.google.com/uc?export=view&id=1b4mJsoFTQm6GGvuv7bQNttZjLVoHp7iV"
                   style="width: 48px;
                       height: 48px;
                       object-fit: cover;">
            </div>
          </a>
        </li>
        <li style="width: 48px;
            height: 48px;
            margin-bottom: 0px;
            margin-right: 10px;
            display: inline-block;">
          <a href="https://www.youtube.com/channel/UCN5FTq63ShiXce8w4lHqGsA" target="_blank" data-content="https://www.youtube.com/channel/UCN5FTq63ShiXce8w4lHqGsA"
             data-type="external">
            <div data-style="position:relative">
              <img alt="Youtube - Black Circle" data-type="image" src="https://drive.google.com/uc?export=view&id=10j9EckGwbHCvDnCva6BMtndh4R-4SZcK"
                   style="width: 48px;
                       height: 48px;
                       object-fit: cover;">
            </div>
          </a>
        </li>
        <li style="width: 48px;
            height: 48px;
            margin-bottom: 0px;
            margin-right: 10px;
            display: inline-block;">
          <a href="https://www.instagram.com/pandorasboxeventos/" target="_blank" data-content="https://www.instagram.com/pandorasboxeventos/"
             data-type="external">
            <div data-style="position:relative">
              <img alt="Instagram - Black Circle" data-type="image" src="https://drive.google.com/uc?export=view&id=1YxnVbCOPeiQm0F1OT2jMM9XFTrPwPdG1"
                   style="width: 48px;
                       height: 48px;
                       object-fit: cover;">
            </div>
          </a>
        </li>
      </ul>
    </td>
  </tr>
</table>