<table>
  <tr>
    <td align="center">
      <img src="https://drive.google.com/uc?export=view&id=1PBjexbMVdbHI4V5UBIWgBvsx6rgWFmml"
           alt="Header" class="imgHeader" style="width: 400px;">
    </td>
  </tr>
  <tr>
    <td>
      <p>Gracias por haber solicitado un stand para <%= @event %></p>
      <p>Para continuar con el proceso de reserva, haga click <a href="<%= @request.protocol %><%= @request.host %>/reserves/<%= @reserve %>">aqui</a>.</p>
      <p>Ud cuenta con la exclusividad para seleccionar el lugar dentro de las 24 horas después de recibir este mail,
        pasado ese periodo de tiempo, enviaremos este mismo mail al siguiente stand, por lo que la variedad de lugar puede verse afectada.</p>
      <p>Una vez confirmado el lugar y el método de pago, la reserva se mantiene durante 7 días, periodo en el cual puede efectuar el pago.
        Será notificado con anticipación caso de estar cerca de la fecha límite, pero pasado los 7 días después de la confirmación automáticamente perderá la reserva si esta no es abonada.</p>
      <p>En caso de no poder efectuar el pago dentro del marco de los 7 días, puede comunicarse a través de nuestra página de contacto:
        <a href="<%= @request.protocol %><%= @request.host %>/landing/contact">Contacto</a> o via mensaje a nuestra página de <a href="https://www.facebook.com/PandorasBoxEventos/">Facebook</a>.
        Cuyo caso será evaluado solo si es planteado dentro del marco de los 7 días anteriormente mencionados.</p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <hr>
      <span>© 2018 by Pandora Eventos</span>
      <ul aria-label="Social bar" class="socialBar" style="padding: 0;">
        <li style="width: 48px;
            height: 48px;
            margin-bottom: 0px;
            margin-right: 10px;
            display: inline-block;">
          <a href="https://www.facebook.com/PandorasBoxEventos/" target="_blank" data-content="https://www.facebook.com/PandorasBoxEventos/"
             data-type="external">
            <div data-style="position:relative">
              <img alt="Facebook - Black Circle" data-type="image" src="https://drive.google.com/uc?export=view&id=1b4mJsoFTQm6GGvuv7bQNttZjLVoHp7iV"
                   style="width: 48px;
                       height: 48px;
                       object-fit: cover;">
            </div>
          </a>
        </li>
        <li style="width: 48px;
            height: 48px;
            margin-bottom: 0px;
            margin-right: 10px;
            display: inline-block;">
          <a href="https://www.youtube.com/channel/UCN5FTq63ShiXce8w4lHqGsA" target="_blank" data-content="https://www.youtube.com/channel/UCN5FTq63ShiXce8w4lHqGsA"
             data-type="external">
            <div data-style="position:relative">
              <img alt="Youtube - Black Circle" data-type="image" src="https://drive.google.com/uc?export=view&id=10j9EckGwbHCvDnCva6BMtndh4R-4SZcK"
                   style="width: 48px;
                       height: 48px;
                       object-fit: cover;">
            </div>
          </a>
        </li>
        <li style="width: 48px;
            height: 48px;
            margin-bottom: 0px;
            margin-right: 10px;
            display: inline-block;">
          <a href="https://www.instagram.com/pandorasboxeventos/" target="_blank" data-content="https://www.instagram.com/pandorasboxeventos/"
             data-type="external">
            <div data-style="position:relative">
              <img alt="Instagram - Black Circle" data-type="image" src="https://drive.google.com/uc?export=view&id=1YxnVbCOPeiQm0F1OT2jMM9XFTrPwPdG1"
                   style="width: 48px;
                       height: 48px;
                       object-fit: cover;">
            </div>
          </a>
        </li>
      </ul>
    </td>
  </tr>
</table>