.brand-logo {
    background: url("<%= asset_path ('logo-app.png')%>") no-repeat;
    background-size: contain;
    width: 40%;
    height: 100%;
}

.gradient-orange {
    background: linear-gradient(to right, #ef8b22 , #fcb116);
}