.footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
}

main.boxBG {
    background-image: url(https://drive.google.com/uc?export=view&id=1ZlDLqDH50NXrL0VIrETam68Fu1gaALjC);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10% 0;
    font-size: 20px;
}

.imgHeader {
    width: 87%;
    padding: 0 20% 1%;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    background-color: transparent;
    position: relative;
}

.jumbotron .btn {
    font-size: 35px;
    border: 10px solid white;
    border-radius: 0;
}

.jumbotron.bg-evento1 {
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0;
}

footer ul.socialBar {
    padding: 0;
}

footer ul.socialBar li {
    width: 48px;
    height: 48px;
    margin-bottom: 0px;
    margin-right: 10px;
    display: inline-block;
}

footer ul.socialBar li div {
    position: relative;
    width: 48px;
    height: 48px;
}

footer ul.socialBar li div img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.sponsors div img {
    width: 100%;
    padding: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar {
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #eee 100%);
    border: 1px solid #e5e5e5;
    padding: 0;
}

@media (min-width: 768px) {
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
    }
    .navbar-nav .nav-item {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron.bg-evento1 {
        /* height: 30vw; */
    }
    .sponsors div {
        /* padding: 0 10%; */
        
    }
    .navbar {
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        box-sizing: border-box;
        width: 100%;
    }
    .navbar-toggler {
        width: 100%;
    }
    .imgHeader {
        margin-top: 2.5em; 
    }

    /* Remove the padding we set earlier */
    .imgHeader,
    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}