.not-active {
    pointer-events: none;
    cursor: default;
    color: black;
}

.highlight {
    color: black!important;
}

.breadcrumb, .breadcrumb:before , .breadcrumb:last-child{
    color: grey;
}