<main role="main" class="boxBG row justify-content-center">
  <form href="contact" method="post" class="form-signin col-md-8 col-12">
        <h2 class="form-signin-heading">Contactenos</h2>
        <div class="row">
            <div class="col-md-6 col-12 mb-2">
                <label for="name" class="sr-only">Nombre</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required autofocus>
            </div>
            <div class="col-md-6 col-12 mb-2">
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="body">Mensaje</label>
            <textarea id="body" name="body" class="form-control" rows="4" cols="50" placeholder="Mensaje" required></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block col-md-3" type="submit">Enviar</button>
    </form>

</main>