<main role="main" class="boxBG">
    <div class="row">
        <div class="col-md-4 col-12">
            <a href="https://www.facebook.com/events/898570180190764/">
                <img src="https://drive.google.com/uc?export=view&id=1fFr7ejaKqwEjVLIzPfnVZpp9C2Xtg1yq" alt="FrickNic">
            </a>
        </div>
        <div class="col-md-4 col-12">
            <a href="https://www.facebook.com/events/1935152866772519/">
                <img src="https://drive.google.com/uc?export=view&id=10jUA07YvbVZqETRn4OzJ1KTDaqwzlct8" alt="Proyecciones">
            </a>
        </div>
        <div class="col-md-4 col-12">
            <a href="https://www.facebook.com/events/1351682864940737/">
                <img src="https://drive.google.com/uc?export=view&id=1fs3SoORhZvhRzzVdkwHkGdR5AIHtYIxB" alt="Geek-con">
            </a>
        </div>
    </div>

</main>