<main role="main">

    <!-- Jumbotron -->
    <a href="https://www.facebook.com/events/1351682864940737/">
        <img class="jumbotron d-flex align-items-end justify-content-end bg-evento1" src="<%= asset_path('flyerL.jpg')%>"
            alt="Auspician">
    </a>

    <div class="row sponsors">
        <div class="col-md-2 col-4">
            <img src="https://drive.google.com/uc?export=view&id=1LE08O2DcHWW94MB_0E_XrBDe7b8pJiil" alt="Auspician" style=" padding: 0;">
        </div>
        <div class="col-md-2 col-4">
            <img src="https://drive.google.com/uc?export=view&id=112p0E9BzJqV4jABOq9mzfH_pRmysKlgD" alt="Capitan Barato">
        </div>
        <div class="col-md-2 col-4">
            <img src="https://drive.google.com/uc?export=view&id=1z7tnc6kl6deR0dlftl10KPBcBnaSdnVM" alt="Comer Bien">
        </div>
        <div class="col-md-2 col-4">
            <img src="https://drive.google.com/uc?export=view&id=1l3-uOjmYHXpmNNJsbRuZagevG9NTaTVe" alt="Freak Zone">
        </div>
        <div class="col-md-2 col-4">
            <img src="https://drive.google.com/uc?export=view&id=1vcmm4KVA6-nZR3NqAgZhVbGouidm1A_J" alt="Donas Panda">
        </div>
        <div class="col-md-2 col-4">
            <img src="https://drive.google.com/uc?export=view&id=1-xH14ySEsTPWxoLL94jF_VYklxfrmhAF" alt="Natsu Videojuegos">
        </div>
    </div>

</main>