<main role="main" class="boxBG">
    <p>
        Pandora es la organizadora de eventos por excelencia en la ciudad de Tandil. Esta empresa se enfoca principalmente en la
        cultura pop, es decir aquello que es consumido por los jóvenes y adultos para entretenimiento, como por ejemplo,
        anime, videojuegos, cómics, series de televisión, películas, etc. Además, se dedica a producir eventos con el objetivo
        de entretener a los asistentes con diversos espectáculos y atracciones.
    </p>
    <p>
        Desde nuestros comienzos, nuestros eventos han sido apoyados por el público, por eso, seguiremos produciendo para proporcionar
        entretenimiento de alta calidad.
    </p>

</main>