<title>PandorApp</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta property="og:title" content="Pandora Eventos" />
<meta property="og:type" content="website"/>
<meta property="og:url" content="<%= request.host %>" />
<meta property="og:image" content="<%= asset_path('socialMedia.jpg') %>" />
<meta property="og:description" content="Pandora es la organizadora de eventos por excelencia en la ciudad de Tandil. Geek-con #3 10 de mayo no te lo pierdas!!!" />
<link rel="icon" href="<%= asset_path('favicon.ico') %>">
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %>