<nav class="white-text gradient-orange" >
  <div class="nav-wrapper">
    <a class="brand-logo"></a>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
    <% unless user_signed_in? %>
      <!--
      <li><%= link_to('Login', new_user_session_path, :class => 'btn btn-primary d-flex align-items-center usr-btn')  %></li>
      -->
    <% end %>
    </ul>
  </div>
</nav>