<ul id="slide-out" class="side-nav fixed">
  <li><div class="user-view">
    <div class="background">
      <img src="<%= asset_path('userBG.jpg') %>">
    </div>
    <img class="circle" src="<%= asset_path('box.png') %>">
    <!--span class="white-text name">John Doe</span-->
    <span class="black-text text-darken-2 email"><%= @email %></span>
  </div></li>
  <li><a href="<%= users_path %>" class="waves-effect"><i class="material-icons">account_circle</i>Mi Perfil</a></li>
  <li><div class="divider"></div></li>
  <li><a href="<%= events_path %>" class="waves-effect"><i class="material-icons">event</i>Eventos</a></li>
  <li><div class="divider"></div></li>
  <li><a href="<%= merchants_path %>" class="waves-effect"><i class="material-icons">store</i>Mi Stand</a></li>
  <li><div class="divider"></div></li>
  <li><a href="<%= reserves_path %>" class="waves-effect"><i class="material-icons">confirmation_number</i>Mis Reservas</a></li>
  <li><div class="divider"></div></li>
  <li><a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>"><i class="material-icons">exit_to_app</i>Logout</a></li>
</ul>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
  })
</script>
