<% if @data_model.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@data_model.errors.count, "error") %> prohiben que estos datos sean guardados.
    </h2>
    <ul>
      <% @data_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="input-field col s6">
  <%= form.label :name , 'Nombre', :data => {error:"wrong" , success:"right"} %>
  <%= form.text_field :name , :required => true, class: 'validate' %>
</div>

<div class="input-field col s6">
  <%= form.label :last_name , 'Apellido' , :data => {error:"wrong" , success:"right"}  %>
  <%= form.text_field :last_name , :required => true %>
</div>

<div class="input-field col s12">
  <%= form.label :dni , 'DNI' , :data => {error:"wrong" , success:"right"} %>
  <%= form.text_field :dni, :required => true %>
</div>

<div class="input-field col s12">
  <%= form.label :contact , 'Telefono de Contacto' , :data => {error:"wrong" , success:"right"}  %>
  <%= form.text_field :contact , :required => true %>
</div>

