<div class="card">
  <div class="card-content">
    <span class="card-title">Datos de la cuenta</span>
    <p>Email: <%= @email %></p>
    <% unless @personal_info %>
      <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Agregar Datos Personales" href="/users/new_more">
        <i class="material-icons">add</i>
      </a>
    <% end %>
  </div>
  <% if @personal_info %>
    <div class="card-action">
      <p>Nombre: <%= @personal_info.name %></p>
      <p>Apellido: <%= @personal_info.last_name %></p>
      <p>DNI: <%= @personal_info.dni %></p>
      <p>Telefono de Contacto: <%= @personal_info.contact %></p>
      <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Editar" href="<%= edit_personal_information_path(@personal_info)%>">
        <i class="material-icons">edit</i>
      </a>
    </div>
  <% end %>
</div>