<span class="card-title">Cambiar tu contraseña?</span>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field col s12">
    <i class="material-icons prefix ">security</i>
    <%= f.label :password, :data => {error: 'wrong', succcess:'right'}%>
    <% if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: "off", required: true, class:'validate', placeholder: '('+@minimum_password_length.to_s+' characters minimum)'%>
    <% else %>
      <%= f.password_field :password, autocomplete: "off", required: true, class:'validate'%>
    <% end %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix ">security</i>
    <%= f.label :password_confirmation, :data => {error: 'wrong', succcess:'right'}%>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:'hide' %>
  </div>

  <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Enviar" id="submit-button">
    <i class="material-icons">navigate_next</i>
  </a>
<% end %>



