<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %>
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= form.label :name %>
    <%= form.text_field :name , :required => true %>
  </div>

  <div class="input-field col s12">
    <%= form.label :release_date %> <br>
    <%= date_field(:event, :release_date, :required => true ) %>
  </div>

  <div class="input-field col s12">
    <%= form.label :address %>
    <%= form.text_field :address , :required => true %>
  </div>

  <div class="input-field col s12">
    <%= form.label :city %>
    <%= form.text_field :city , :required => true %>
  </div>

  <div class="input-field col s12">
    <%= form.label :facebook %>
    <%= form.text_field :facebook , :required => true %>
  </div>
  <a id="submit-button" href="#" class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Guardar Cambios">
    <i class="material-icons">save</i>
  </a>
  <%= form.submit class: 'hide' %>
<% end %>