<%= stylesheet_link_tag 'pages/events'%>
<div class="row">
    <% @events.each do |event| %>
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-content">
          <h5 class="card-title">
            <% if current_user.admin %>
              <a href="<%= event_path(event) %>">
            <% end %>
                <%= event.name %>
            <% if current_user.admin %>
              </a>
            <% end %>
          </h5>
          <p>
            <i class="material-icons">date_range</i>
            <span style="position: relative; top: -4px;"><%= event.release_date %></span>
          </p>
          <p>
            <i class="material-icons">public</i>
            <span style="position: relative; top: -4px;"><a href="<%= event.facebook %>" target="_blank">Evento en Facebook</a></span>
          </p>
          <p>
            <i class="material-icons">location_on</i>
            <span style="position: relative; top: -4px;"><%= event.address %>, <%= event.city %></span>
          </p>

          <br>
          <% if event.stand_auction %>
            <a class="waves-effect waves-light btn orange darken-1" href="<%='/events/subscribe/'+event.stand_hash_link %>">
              <i class="material-icons left">perm_contact_calendar</i>Solicitar Stand
            </a>
          <% end %>
        </div>
          <% if current_user.admin %>
            <a class="btn-floating halfway-fab waves-effect waves-light cyan lighten-3" href="<%= edit_event_path(event) %>">
              <i class="material-icons">edit</i>
            </a>
            <a data-confirm="Estas Seguro?" rel="nofollow" data-method="delete" class="btn-floating halfway-fab waves-effect waves-light red lighten-3 left" href="<%= event_path(event) %>">
              <i class="material-icons">delete</i>
            </a>
          <% end %>
      </div>

    </div>
  <% end %>
</div>

<% if current_user.admin %>
  <div class="fixed-action-btn">
    <a id="scale-demo" href="<%= new_event_path %>" class="btn-floating waves-light waves-effect btn-large scale-transition scale-in" style="background-color: #2d2f78">
      <i class="material-icons">add</i>
    </a>
    <ul class="hide">
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
<% end %>


<script type="text/javascript" charset="utf-8">
 $('a').click(function () {
     $(this).removeClass('scale-in');
     $(this).addClass('scale-out');
 })
</script>