<div class="card">
  <div class="card-action">
    <span class="card-title"><%=  @event.name %></span>
    <p>
      <i class="material-icons">date_range</i>
      <span style="position: relative; top: -4px;"><%= @event.release_date %></span>
    </p>
    <p> Link Convocatoria: <a href="/events/subscribe/<%= @event.stand_hash_link %>"><%= request.protocol %><%= request.host %>/events/subscribe/<%=  @event.stand_hash_link %></a></p>
    <p>
      <i class="material-icons">public</i>
      <span style="position: relative; top: -4px;"><a href="<%= @event.facebook %>" target="_blank">Evento en Facebook</a></span>
    </p>
    <p>
      <i class="material-icons">location_on</i>
      <span style="position: relative; top: -4px;"><%= @event.address %>, <%= @event.city %></span>
    </p>

    <a id="stands-auction" class="btn-large" data-auction="<% @event.stand_auction %>">
      <% if @event.stand_auction %>
        Detener Convocatoria de Stands
      <% else %>
        Iniciar Convocatoria de Stands
      <% end %>
    </a>
    <%= link_to 'Reservas de Stands', '/reserves/all/'+@event.id.to_s, class: 'btn btn-large' %>
    <br><br>
    <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Editar" href="<%= edit_event_path(@event) %>">
      <i class="material-icons">edit</i>
    </a>
    <a data-confirm="Estas Seguro?" rel="nofollow" data-method="delete" class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light red left"
       data-position="bottom" data-delay="50" data-tooltip="Borrar Evento" href="<%= event_path(@event) %>">
      <i class="material-icons">delete</i>
    </a>
  </div>
  <%= content_tag :div, class: "event_class", data: {event: @event} do %>
  <% end %>
</div>


<%= javascript_include_tag 'pages/events'%>
