<% if @data_model.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@data_model.errors.count, "error") %>
    </h2>
    <ul>
      <% @data_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="input-field col s12">
  <%= form.label :store_name, 'Nombre del Stand',  :data => {error:"wrong" , success:"right"} %>
  <%= form.text_field :store_name , :required => true , class: 'validate' %>
</div>

<div class="input-field col s12">
  <%= form.label :web_page, :data => {error:"wrong" , success:"right"} %>
  <%= form.text_field :web_page , class: 'validate' %>
</div>

<div class="input-field col s12">
  <%= form.label :city , 'Ciudad',  :data => {error:"wrong" , success:"right"} %>
  <%= form.text_field :city , :required => true , class: 'validate'  %>
</div>

<div class="input-field col s12">
  <%= form.select :category_id, @categories.map { |value| [value.type_name ,  value.id] } , :required => true , class: 'validate' %>
  <%= form.label :category_id , :data => {error:"wrong" , success:"right"}%>
</div>