<div class="card">
  <div class="card-action">
    <span class="card-title">Mi Stand</span>
    <p>Nombre: <%= @data_model.store_name %></p>
    <p>Ciudad: <%= @data_model.city %></p>
    <p>Webpage: <%= @data_model.web_page %></p>
    <p>Rubro/Categoria: <%= @data_model.category.type_name %></p>
    <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Editar" href="<%= edit_merchant_path(@data_model) %>">
      <i class="material-icons">edit</i>
    </a>
  </div>
</div>
