<%= form_with(model: @data_model, local: true, :html => { :id => "edit-merchant" } ) do |form| %>
  <div class="card">
    <div class="card-content row">
      <span class="card-title">Mi Stand</span>
      <%= render partial: 'form', :locals => {:form => form} %>
      <a id="submit-button" href="#" class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Agregar Datos">
        <i class="material-icons">save</i>
      </a>
      <%= form.submit class: 'hide' %>
    </div>
  </div>
<% end %>