<%= stylesheet_link_tag 'pages/wizard' %>
<br>
<div class="row">
  <nav>
    <div class="nav-wrapper">
      <div class="col white s12">
        <a href="/wizard/<%= @reserve.event.id %>/edit/1" class="breadcrumb <%= (1 <= @step)? 'active' : 'not-active'%> <%= (1 == @step)? 'highlight' : '' unless params[:step]%> <%=  params[:step] && '1' == params[:step]? 'highlight' : '' %>">
          <%= get_form_name(1)%>
        </a>
        <a href="/wizard/<%= @reserve.event.id %>/edit/2" class="breadcrumb <%= (2 <= @step)? 'active' : 'not-active'%> <%= (2 == @step)? 'highlight' : '' unless params[:step]%> <%= params[:step] && '2' == params[:step]? 'highlight' : '' %>">
          <%= get_form_name(2)%>
        </a>
        <a href="/wizard/<%= @reserve.event.id %>/edit/3" class="breadcrumb <%= (3 <= @step)? 'active' : 'not-active'%> <%= (3 == @step)? 'highlight' : '' unless params[:step]%> <%= params[:step] && '3' == params[:step]? 'highlight' : '' %>">
          <%= get_form_name(3)%>
        </a>
      </div>
    </div>
  </nav>

  <%= form_with(model: @data_model, local: true) do |form| %>
  <div class="card">
    <div class="card-content row">
      <span class="card-title">Convocatoria de Stands</span>
      <%= render partial: @step_form, :locals => {:form => form} %>
      <a id="submit-button" href="#" class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Guardar Cambios">
        <% if @step_text == 'Siguiente' %>
          <i class="material-icons">navigate_next</i>
        <% else %>
          <i class="material-icons">save</i>
        <% end %>
      </a>
      <%= form.submit @step_text, class: 'hide'%>
    </div>
  </div>
  <% end %>
</div>