<span class="card-title">Log in</span>
<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>
<div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :email, :data => {error: 'wrong', succcess:'right'} %>
        <%= f.email_field :email, autofocus: true, required: true, class:'validate' %>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">security</i>
        <%= f.label :password, :data => {error: 'wrong', succcess:'right'}%>
        <%= f.password_field :password, autocomplete: "off", required: true, class:'validate'%>
      </div>

      <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me , id:'user_remember_me'%>
          <%= f.label :remember_me , 'Recuerdame' %>
      <% end -%>

      <div class="input-field col s12">
        <%= f.submit 'Log in', class: 'hide' %>
      </div>

      <a class="btn-large btn-floating tooltipped halfway-fab waves-effect waves-light orange darken-1" data-position="bottom" data-delay="50" data-tooltip="Entrar" id="submit-button">
        <i class="material-icons">navigate_next</i>
      </a>
    <% end %>
</div>

