<%= render :partial => 'reserves/reserve_card', locals: {reserve: @reserve, show_payment_button: @hide_payment_button} %>

<% if @reserve.payment.payment_date.nil? %>
  <div class="col s12 l6">
    <div class="card hoverable">
      <div class="card-action ">
        <% if !@payment_img %>
        <span class="card-title">Datos para efectuar su deposito bancario</span>
          <table>
            <tbody>
            <tr>
              <td>Nombre</td>
              <td>  Mariano Rodriguez </td>
            </tr>
            <tr>
              <td>  DNI </td>
              <td>  34218157 </td>
            </tr>
            <tr>
              <td>  Número de Cuenta </td>
              <td>  Cuenta Unica 114-368001/4 </td>
            </tr>
            <tr>
              <td>  Número de CBU </td>
              <td>  0720114788000036800140 </td>
            </tr>
            <tr>
              <td>  Banco </td>
              <td>  Santander Rio </td>
            </tr>
            </tbody>
          </table>

            <a class="waves-effect waves-light btn orange darken-1" href="<%='/payment_toggle/'+ @reserve.id.to_s %>" data-confirm="Esta Seguro?">
              <i class="material-icons left">payment</i>Cambiar metodo de Pago
            </a>
            <br>
            <br>
            <a class="waves-effect waves-light btn orange darken-1" href="#" id="upload_widget_opener">
              <i class="material-icons left">file_upload</i>Subir Comprobante
            </a>


        <% else %>
          <span class="card-title">Comprobante de Pago:</span>
          <br>          <br>

          <img class="materialboxed" style="max-width: 650px" src="<%= @payment_img %>">
          <br>
          <a class="waves-effect waves-light btn orange darken-1" href="#" id="upload_widget_opener">
            <i class="material-icons left">file_upload</i>Subir Nuevo Comprobante
          </a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= form_tag('/payment_upload', :method => :post) do %>
  <%= hidden_field_tag 'payment_confirmation_img', 'none' %>
  <%= hidden_field_tag 'id', @reserve.id %>
<% end %>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script type="text/javascript">
    document.getElementById("upload_widget_opener").addEventListener("click", function() {
        cloudinary.openUploadWidget({ cloud_name: 'dktk7tmxj', upload_preset: 'nosunhb9', sources: ['local', 'url', 'camera'], default_source: 'local', multiple: false, resource_type: 'image', folder: 'invoices'},
            function(error, result) {
            console.log(error, result);
            if (error) {
                alert ('Hubo un error al subir su comprobante, por favor intentelo de nuevo')
            } else {
                if (result[0]) {
                    $('#payment_confirmation_img').val(result[0].public_id);
                    $('form').submit();
                }
            }
        });
    }, false);

    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>


