<%= render :partial => 'reserves/reserve_card', locals: {reserve: @reserve, show_payment_button: @hide_payment_button} %>

<% if @reserve.payment.payment_date.nil? %>
  <div class="col s12 l6">
    <div class="card hoverable">
      <div class="card-action ">
        <span class="card-title">Estado de Pago en MercadoPago</span>
        <p>Estado del Pago: <%= @status %> </p>

        <% #if @reserve.payment.payment_date.nil? cuando el pago esta acreditado ya no se puede cambiar %>
          <p>
            <a class="waves-effect waves-light btn orange darken-1" href="<%='/payment_toggle/'+ @reserve.id.to_s %>" data-confirm="Esta Seguro?">
              <i class="material-icons left">payment</i>Cambiar metodo de Pago
            </a>
          </p>
        <% #end %>
        <% unless @reserve.payment.preference_id.nil? %>
          <p>
            <a class="waves-effect waves-light btn orange darken-1" href="<%= @mercado_url %>">
              <i class="material-icons left">shop</i>Ir a MercadoPago
            </a>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>