<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos comunicamos contigo para comunicarte que tu email ha sido cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos comunicamos contigo para comunicarte que tu email ha sido cambiado a <%= @resource.email %>.</p>
<% end %>
