<p>Hola <%= @resource.email %>!</p>

<p>Alguien a pedido un link to para cambiar tu contraseña. Puedes hacerlo atravez de este link.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ud no ha pedido esto, por favor ignore este email</p>
<p>Tu password no va a cambiar hasta que accedas al link que hemos proveido.</p>


