<p>Hola <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>
<p>Tu cuenta ha sido bloqueada por un excesivo numero de intentos en el ingreso</p>

<p>Has click aqui para desbloquear tu cuenta: </p>

<p><%= link_to 'Desbloquear mi Cuenta', unlock_url(@resource, unlock_token: @token) %></p>
