<!DOCTYPE html>
<html>

<head>
  <title>Pandora Eventos</title>
  <%= render 'partials/head' %>
  <%= stylesheet_link_tag  'application', media: 'all'%>
  <%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">

    <header class="masthead">
      <div style="text-align: center">
        <img src="<%= asset_path('headerL.png')%>" alt="Header" class="imgHeader">
      </div>

      <nav class="navbar navbar-expand-md navbar-light rounded mb-3">
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-light" id="navbarCollapse">
          <ul class="navbar-nav text-md-center nav-justified w-100">
            <li class="nav-item active">
              <a class="nav-link" href="<%= root_path %>">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <%= link_to 'Institucional', '/landing/institutional', class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'Eventos', '/landing/events', class: 'nav-link'%>
            </li>
           <!-- <li class="nav-item">
              <%= link_to 'Multimedia', '/landing/multimedia', class: 'nav-link'%>
            </li> -->
            <li class="nav-item">
              <%= link_to 'Contacto', '/landing/contact', class: 'nav-link'%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acceso</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <%= link_to 'Pandorapp', '/events', class: 'dropdown-item'%>
                <%= link_to 'Stands', '/merchants', class: 'dropdown-item'%>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <% unless flash[:notice].nil? %>
      <div class="alert alert-primary" style="text-align: center">
          <span ><%= flash[:notice] %></span>
      </div>
    <% end %>
    <%= yield %>

      <!-- Site footer -->
      <footer class="footer row text-center">
        <div class="col-lg-4">
          <p class="font_9">
            <span class="color_11">© 2018 by Pandora Eventos</span>
          </p>
        </div>
        <div class="col-lg-4">
          <ul aria-label="Social bar" class="socialBar">
            <li>
              <a href="https://www.facebook.com/PandorasBoxEventos/" target="_blank" data-content="https://www.facebook.com/PandorasBoxEventos/"
                data-type="external">
                <div data-style="position:relative" >
                  <img alt="Facebook - Black Circle" data-type="image" src="<%= asset_path('fb-icon.png') %>">
                </div>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCN5FTq63ShiXce8w4lHqGsA" target="_blank" data-content="https://www.youtube.com/channel/UCN5FTq63ShiXce8w4lHqGsA"
                data-type="external">
                <div data-style="position:relative" >
                  <img alt="Youtube - Black Circle" data-type="image" src="<%= asset_path('yt-icon.png') %>">
                </div>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/pandorasboxeventos/" target="_blank" data-content="https://www.instagram.com/pandorasboxeventos/"
                data-type="external">
                <div data-style="position:relative" >
                  <img alt="Instagram - Black Circle" data-type="image" src="<%= asset_path('inst-icon.png') %>">
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">

        </div>
      </footer>

  </div>
</body>

</html>