<!DOCTYPE html>
<html>
<head>
  <%= render 'partials/head' %>
  <%= stylesheet_link_tag 'main_app', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style>
  header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
</style>
<body>
  <header>
    <div role="navigation">
      <%= render :partial => 'partials/header', :locals => {:current_user => @user} %>
    </div>
  </header>
  <main>
    <div class="row">
      <% unless flash[:notice].nil? %>
        <div class="col s12">
          <div class="card-panel light-blue lighten-4">
            <span class="card-title"><%= flash[:notice] %></span>
          </div>
        </div>
      <% end %>
      <div class="col s12">
        <%= yield %>
      </div>
    </div>
  </main>
  <%= render :partial => 'partials/nav' %>
  <%= javascript_include_tag 'main_app', 'data-turbolinks-track' => true %>
</body>
</html>
