<!DOCTYPE html>
<html>
<head>
  <%= render 'partials/head' %>
  <%= stylesheet_link_tag 'main_app', media: 'all', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style>

</style>
<body>
  <%= render 'partials/header' %>
  <div class="row">
      <div class="col s12 m4 offset-m4">
        <div class="card">
          <div class="card-content">
            <%= yield %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  <%= javascript_include_tag 'main_app', 'data-turbolinks-track' => true %>
</body>
</html>